// Color styles

$available: #4C7D5A;
$unavailable: #CC5C5C;

// Brand
$brand-01: #121232;
$brand-02: #4E4E5A;
$brand-03: #727279;

// Text
$text-01: #232735;
$text-02: #505565;
$text-03: #8B90A0;
$text-inverse: #FFFFFF;

// UI
$ui-01: #FFFFFF;
$ui-02: #FAFAFC;
$ui-03: #F0F1F3;
$ui-04: #D3D4D8;
$ui-05: #A1A4B1;
$ui-06: #232735;
$ui-07: #000000;

// Hover
$hover-primary: #3E465F;
$hover-row: #EEEEF1;

// Card
$gold: #E2C781;
$epic: #4D15EA;
$common: #3E465F;

// Font styles

// when we would have official design project maybe font styles here by mixins
// ...