@import "src/main-styles/variables";

.Logo {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
    color: $text-01;
    text-decoration: none;
  }

  &__icon {
    width: 112px;
    height: 48px;
    margin-left: 16px;
  }

  &__header {
    font-size: 24px;
    font-weight: 600;
    margin-left: 16px;
  }
}