@import '../../../../main-styles/variables';

.Notifications {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 64px);
  background-color: rgba($ui-07, 0.4);

  &__list {
    position: absolute;
    top: 16px;
    right: 24px;
    border-radius: 10px;
    margin: 0;
    padding: 8px;
    list-style: none;
    background-color: $ui-04;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 8px;
    z-index: 3;
  }

  &__item {
    background-color: $ui-03;
    border-radius: 10px;
    padding: 12px;
  }

  &__header {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 8px 0;
  }

  &__paragraph {
    font-size: 12px;
    margin: 0;
    max-width: 460px;
  }
}